body {
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

#main {
  background-color: #eeeeee;
  border-radius: 10px;
}

#title {
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
  color: #333333;
}

#description {
  text-align: center;
}

#img-div {
  background-color: white;
  padding: 10px;
}

img {
  max-width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
}

#img-caption {
  text-align: center;
  font-size: 16px;
}

#tribute-info {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  color: #333333;

}

#subtitle {
  text-align:justify;
justify-content: center;
padding: 20px;
}

li {
  margin: 10px;
}

#quote {
  font-style: italic;
  text-align: justify;
  max-width: 500px
}
